# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage
**/coverage/

# Production
/build
/dist
/.next
/out
**/dist/
**/build/

# Misc
.DS_Store
*.pem
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
*.log

# Editor
.vscode/
.idea/
*.swp
*.swo
*~
.sublime-project
.sublime-workspace

# OS
Thumbs.db
.AppleDouble
.LSOverride

# IDE
*.iml
*.iws
*.ipr

# Monorepo
.yarn/cache
.yarn/install-state.gz
.pnpm-lock.yaml
yarn.lock
package-lock.json

# Runtime
.env.*.local

# Vite
**/vite.config.js.timestamp-*
